<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon-150x150.png" />
    <meta name="description" content="Blog Page">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
  />
    <title>{{ file.title }} | Next Level Success</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/main.css" rel="stylesheet">
    <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TT5MW4W');</script>
<!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TT5MW4W"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

      {{{ file.navigation }}}
      <main role="main" class="container-fluid" id="blog_post">
        <div class="container">
          <div class="row">
                {{{ file.blogBody }}}
          </div>
        </div>
        <div class="blog-prev-container container">
            <div class="col-md-12"><h2>Other Articles</h2></div>
            <div class="row">
                    {{#each file.otherArticles}}
                    <div class="col-md-4">
                        <a href="/blog/{{fileName}}">
                            <img src="/assets/images/{{image}}-400.jpg" alt="{{ file.title }}">
                            <h2>{{title}}</h2>
                            <p>{{introParagraph}}</p>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
      </main>
      <footer>
            <div class="container">
                    <div class="row soc_icons justify-content-center">
                        <a href="https://www.facebook.com/Nextlvlsuccess/" target="_blank"><i
                                class="fab fa-facebook-square"></i></a>
                        <a href="https://twitter.com/Nextlvlsuccess" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        <a href="https://www.instagram.com/nextlvlsuccess/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.pinterest.com/daymondjohns/" target="_blank"><i
                                class="fab fa-pinterest-square"></i></a>
                    </div>
                </div>
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <ul class="nav justify-content-center bottom_nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/contact">contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
                    </li>

                </ul>
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-12 text-center copyright">
                      <p> Next Level Success &copy; 2010<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script></p>
                  </div>
              </div>
              <p class="discl">THIS EVENT IS NOT AFFILIATED WITH ABC NETWORKS, LLC, SONY PICTURE TELEVISION AND MARK BURNETT PRODUCTIONS OR ANY OF ITS SERIES, SUBSIDIARIES, DIVISIONS OR AFFILIATES</p>
          </div>
      </footer>
      <link rel="stylesheet" href="/assets/css/brands.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>

    </body>

</html>