<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Language" content="en">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/x-icon" href="/assets/images/favicon-150x150.png" />
	<meta name="description" content="Registration Page">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
	<title>
		Register for {{ file.title }} | Daymond John's Next Level Success
	</title>
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
	<!-- Disable tap highlight on IE -->
	<meta name="msapplication-tap-highlight" content="no">
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-TT5MW4W');
	</script>
	<!-- End Google Tag Manager -->
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TT5MW4W" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<h1 style="display: none;">{{ file.title }}</h1>
	<div id="registration_page">
		<div class="hero-home reg_page">
			<div class="hero_overlay">
				<div class="container text-left text-white regpage_hero">
					<div class="row">
						<div class="col-lg-8 d-flex align-items-center">
							<div class="container">
								<div class="accent accent_fifteen"></div>
								<h5>Daymond John's</h5>
								<p class="lead1">NEXT LEVEL SUCCESS</p>
								<p class="lead2">multiple event locations</p>
								<div class="reg_section" id="reg">
									<link rel="stylesheet" type="text/css" media="all" href="/assets/css/dsnav.css" />
									<div class="DSNavOuter">
										<div id="DSNav" class="DSNavInner"></div>
									</div>
									{{#if file.disclaimerText }}
									<p class="text-uppercase text-center" style="font-size: 11px;">WHILE DAYMOND IS
										UNABLE TO PERSONALLY
										ATTEND ALL EVENTS, THE NEXT LEVEL SUCCESS TEAM WILL BE PRESENTING STRATEGIES ON
										HIS BEHALF.</p>
									{{/if}}
								</div>
							</div>
						</div>
						<div class="col-sm-1 brand_owner">
							<img src="/assets/images/brand-owner.png">
						</div>
					</div>
				</div>
			</div>
		</div>
		{{{ file.jsonInfo }}}

		<div class="container pt-5 pb-5">
			<h2 class="text-center">AT THIS EVENT, YOU WILL SEE HOW YOU CAN:</h2>
			<div class="row event_info">
				<div class="col-12 col-sm-4">
					<div class="row">
						<div class="col-3">
							<p class="text-center">
								<i class="fas fa-lightbulb"></i>
							</p>
						</div>
						<div class="col-9">
							<h3 class="font-weight-bold" data-value="text" data-info="heading">
								{{#if file.contentArray.[0]}}
								{{ file.contentArray.[0] }}
								{{else}}
								SPOT OPPORTUNITIES
								{{/if}}
							</h3>
							<p data-value="text" data-info="paragraph">
								{{#if file.contentArray.[1]}}
								{{ file.contentArray.[1] }}
								{{else}}
								We all see opportunities. We all have great ideas. Learn how to have the
								entrepreneur
								mindset that turns
								an idea into action!
								{{/if}}
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-4">
					<div class="row">
						<div class="col-3">
							<p class="text-center">
								<i class="fas fa-arrow-circle-right"></i>
							</p>
						</div>
						<div class="col-9">
							<h3 class="font-weight-bold" data-value="text" data-info="heading">
								{{#if file.contentArray.[2]}}
								{{ file.contentArray.[2] }}
								{{else}}
								TAKE ACTION
								{{/if}}
							</h3>
							<p data-value="text" data-info="paragraph">
								{{#if file.contentArray.[3]}}
								{{ file.contentArray.[3] }}​
								{{else}}
								Becoming a successful entrepreneur requires action. Learn how to create the attitude
								that
								you can never be
								stopped!
								{{/if}}
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-4">
					<div class="row">
						<div class="col-3">
							<p class="text-center">
								<i class="fas fa-arrow-circle-right"></i>
							</p>
						</div>
						<div class="col-9">
							<h3 class="font-weight-bold" data-value="text" data-info="heading">
								{{#if file.contentArray.[4]}}
								{{ file.contentArray.[4] }}
								{{else}}
								INVEST IN REAL ESTATE
								{{/if}}
							</h3>
							<p data-value="text" data-info="paragraph">
								{{#if file.contentArray.[5]}}
								{{ file.contentArray.[5] }}​
								{{else}}
								Learn where to find properties, how to negotiate with contractors, when to buy, and
								how to
								flip houses for maximum profits.
								{{/if}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 free_gifts wrap">
					<div class="ribbon6">Free Gifts</div>
					<img class="offers" src="/assets/images/Books-and-Track-1.png" />
					<h3>"You Become What You Think About The Most" - Daymond John</h3>
				</div>
				<div class="col-lg-5 align-self-center">
					<h4>TO BE A SHARK, YOU MUST FIRST LEARN TO SWIM.</h4>
					<p>To be a true shark, it takes knowledge, know-how, and tools… which is why I am going to give
						you 4 of my
						most trusted books when you attend one of my team’s events!</p>
				</div>
			</div>
		</div>
	</div>
	</div>
	{{#if file.californiaDisc}}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p style="font-size:11px;">AUXILIARY AIDS AND SERVICES THAT ARE NECESSARY FOR EFFECTIVE COMMUNICATION
					SHALL BE
					PROVIDED AT NO CHARGE TO ALL DEAF OR HARD OF HEARING PARTICIPANTS, STUDENTS, CUSTOMERS OR ENROLLEES
					INTO OUR
					EVENT CONDUCTED IN CALIFORNIA. AUXILIARY AIDS AND SERVICES MAY INCLUDE USE OF AN ASSISTIVE LISTENING
					DEVICE TO
					AMPLIFY SOUNDS; USE OF A QUALIFIED SIGN LANGUAGE INTERPRETER (ASL); AND REAL –TIME CAPTIONING
					(CART),
					DEPENDING ON WHAT METHOD WILL PROVIDE EFFECTIVE COMMUNICATION FOR AN INDIVIDUAL RECIPIENT WHO IS
					DEAF OR HARD
					OF HEARING.​</p>
			</div>
		</div>
	</div>
	{{/if}}
	<div class="angle container-fluid">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" style="width: calc(104% + 1.3px);height: 100px;">
                <path style="fill:#fff;" d="M738,99l262-93V0H0v5.6L738,99z"></path>
            </svg>
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<h2>
						<a href="tel:8003610756">(800) 361-0756</a> TO REGISTER FOR AN EVENT</h2>
				</div>
				<div class="col-lg-4 reg_button_container">
					<a href="#reg">
						<button>Register</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<p class="reg_footertext">COPYRIGHT ©<script>
				new Date().getFullYear() > 2010 && document.write(" " + new Date().getFullYear());
			</script> NEXT LEVEL SUCCESS. <a href="/privacy-policy/"> Privacy Policy. </a></span></p>
	</div>
	<style>
		footer {
			display: none;
		}
	</style>
	<footer>
		<div class="container">
			<div class="row soc_icons justify-content-center">
				<a href="https://www.facebook.com/Nextlvlsuccess/" target="_blank"><i
						class="fab fa-facebook-square"></i></a>
				<a href="https://twitter.com/Nextlvlsuccess" target="_blank"><i class="fab fa-twitter-square"></i></a>
				<a href="https://www.instagram.com/nextlvlsuccess/" target="_blank"><i class="fab fa-instagram"></i></a>
				<a href="https://www.pinterest.com/daymondjohns/" target="_blank"><i
						class="fab fa-pinterest-square"></i></a>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="nav justify-content-center bottom_nav">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="/contact">contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/register">Register</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/privacy-policy">Privacy Policy</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 text-center copyright">
					<p> Next Level Success &copy; 2010<script>
							new Date().getFullYear() > 2010 && document.write("-" + new Date().getFullYear());
						</script>
					</p>
				</div>
			</div>
			<p class="discl">THIS EVENT IS NOT AFFILIATED WITH ABC NETWORKS, LLC, SONY PICTURE TELEVISION AND MARK
				BURNETT
				PRODUCTIONS OR ANY OF ITS SERIES, SUBSIDIARIES, DIVISIONS OR AFFILIATES</p>
		</div>
	</footer>
	<link rel="stylesheet" href="/assets/css/fontawesome.min.css">
	<script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>
